# Private dynamic env vars
ACROSS_SERVER_HOST="localhost"
ACROSS_SERVER_PORT=1080
ACROSS_SERVER_ID="a13bbcdd-798d-43cd-bb2a-6b10347db2a3"
ACROSS_SERVER_SECRET="local-service-account-key"

# build time static public env vars must have a PUBLIC_ prefix
PUBLIC_PRETTY_LOGS=0
PUBLIC_BUILD_VERSION="local"
PUBLIC_RUNTIME_ENV="local"
PUBLIC_DEFAULT_LOG_LEVEL="debug"