@import 'tailwindcss';
@plugin "daisyui" {
    themes: nasa-across-dark --default;
}

@plugin "daisyui/theme" {
    name: 'nasa-across-light';
    default: true;
    prefersdark: false;
    color-scheme: 'light';
    --color-base-100: oklch(100% 0 0);
    --color-base-200: rgb(245, 245, 245);
    --color-base-300: oklch(86% 0.005 56.366);
    --color-base-content: oklch(0% 0 0);
    --color-primary: oklch(0% 0 0);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(98% 0.001 106.423);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: rgb(246, 65, 55);
    --color-accent-content: oklch(96% 0.018 272.314);
    --color-neutral: rgb(22, 46, 81);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: rgb(28, 103, 227);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(59% 0.145 163.225);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: rgb(182, 1, 9);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.3125rem;
    --size-field: 0.3125rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: 'nasa-across-dark';
    default: true;
    prefersdark: false;
    color-scheme: 'light';
    --color-base-100: oklch(100% 0 0);
    --color-base-200: rgb(245, 245, 245);
    --color-base-300: oklch(86% 0.005 56.366);
    --color-base-content: oklch(0% 0 0);
    --color-primary: oklch(98% 0.001 106.423);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: rgb(246, 65, 55);
    --color-accent-content: oklch(96% 0.018 272.314);
    --color-neutral: rgb(11, 23, 40);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: rgb(28, 103, 227);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(59% 0.145 163.225);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: rgb(182, 1, 9);
    --color-error-content: oklch(100% 0 0);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0rem;
    --size-selector: 0.3125rem;
    --size-field: 0.3125rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
